[tool.black]
line-length = 88
target-version = ["py311"]

[tool.ruff]
line-length = 88
target-version = "py311"

[tool.ruff.lint]
ignore = ["E203"]
select = ["E", "F", "I", "UP", "B", "SIM", "C90", "W"]
